*{
  box-sizing: border-box;
}

.unselectedBox{
  float: left;
  border: 1px solid black;
  height: 33%;
  width: 33%;
}
.gameBox{
  /* border: 1px solid green; */
  height: 500px;
  width: 500px;
}
.selectedByX{
  background-color: yellow;
}

.selectedByO{
  background-color: blue;
}
